pandas
scipy
dash
dash-html-components
dash-core-components
dash-table
dash-daq
dash-bootstrap-components
Flask-Caching
Flask-Session
Flask-Babel
gunicorn
matplotlib
python-dotenv
redis
colour
fastparquet
cython>=3.0.0a6
faker
xlrd
# workarounds below
werkzeug
futures
# -e git+https://github.com/numpy/numpy.git@078ac01a85c4db46e7f148829c2e0d0e0f30c36f#egg=numpy
