pandas
scipy
dash
dash-html-components
dash-core-components
dash-table
dash-daq
dash-bootstrap-components
Flask-Caching
Flask-Session
Flask-Babel
gunicorn
matplotlib
python-dotenv
redis
colour
fastparquet
cython>=3.0.0a6
faker
xlrd
# workarounds below
werkzeug
futures
# -e git+https://github.com/numpy/
numpy
#graphene
graphql-server[flask]==3.0.0b2
graphene==3.0b6
gql==3.0.0a5
