$archer-width: 8px;
$archer-color: $gray-400;

body, html {
  background-color: $gray-100;
}

.app-content {
  min-width: 760px;
  margin-top: 4em;
  margin-bottom: 200px;
}

.summary-card {
  .card-title {
    font-size: 1.2rem;
  }
  &__value {
    font-weight: bold;
    color: $gray-600;
  }
  &__year {
    color: $gray-600;
  }
}

.slider-card {
  //background-color: $hel-fog;
  &__content {
    display: flex;
  }
  &__graph {
    flex: 1 1 400px;
    //background-color: $hel-tram;
  }
  &__slider {
    flex: 0 0 70px;
    padding: 15px;
    .rc-slider-handle {
      border-radius: 0;
      border-color: #000000;
      background-color: #000000;
    }
    .rc-slider-dot-active {
      border-color: $pink;
    }
    .rc-slider-track {
      background-color: $yellow;
    }
    .rc-slider-mark {
      width: 50px;
      margin-top: -17px;
    }
  }
}

.page-summary {
  margin: 0;
  background-color: $gray-400;
  box-shadow: 3px 3px 5px 6px #ccc;
  text-align: right;

  &__totals {
    font-size: 1.5em;
    font-weight: bold;
  }

  &__total {
    display: inline-block;

    &--good {
      color: $green;
    }

    &--bad {
      color: $red;
    }
  }

  &__target {
    display: inline-block;
    margin-left: .65em;
  }

  .unit {
    font-size: 66%;
  }
}

// Hide Dash dev tool stickies for generate_heat_use_per_net_area_forecast_new_buildings

.dash-debug-menu, ._dash-undo-redo {
  display: none !important;
}

// Cards

.card-border-top    { border-top:    $archer-width solid $archer-color; }
.card-border-bottom { border-bottom: $archer-width solid $archer-color; }

.grid-downstream-card { margin-top:   125px; }
.grid-unconnected-downstream-card { margin-top:   125px + $archer-width; }

.plot .scatter .lines { stroke-linecap: round; }

// Dash table

.dash-input-cell-value-container {
  background-color: $light;
  font-weight: 700;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table {
  border-collapse: collapse;
  font-family: monospace;
  --accent: #AAC5DB;
  --border: lightgrey;
  --text-color: #3c3c3c;
  --hover: #fdfdfd;
  --background-color-ellipses: #fdfdfd;
  --faded-text: #fafafa;
  --faded-text-header: #b4b4b4;
  --selected-background: rgb(205, 228, 247);
  --faded-dropdown: #f0f0f0;
  --muted: #c8c8c8;
}